*{
    font-family: montserrat;
}
/* top nav style */
nav a img {
    width: 150px;
}
nav input {
    border-color: #243C7B;
    border-width: 1px;
    border-radius: 6px;
    width: 700px;
    height: 45px;
}
nav{
    padding: 10px 50px 10px 50px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
/* style for nav link  */
.topnav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.topnav > a{
    margin-left: 40px;
}
.navigationLink{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
/* style for crousal section  */
.crousal img{
    width: 99.8%;
}
/* pure hardworkHeading section  */
h2{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
    color:#243C7B;
    margin: 40px 0px 5px 0px;
}
.yellowline {
    display: flex;
    justify-content: center;
}
.yellowline > p{
    width: 150px;
    height: 4px;
    background-color: #EA8E31;
    margin: 0px;
}
/* hardworkHeading cards  */
.achievmentCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.card{
    width: 500px;
    height: 400px;
}
.card-img{
    display: flex;
    justify-content: space-around;
    height: 160px;
}
.achievmentCard h3 {
    color: #2C4480;
    text-align: center;
    font-size: 50px;
}
.achievmentCard span {
    color: #454545;
    font-size: 30px;
}
/* achiever's work with section  */
.liveCardContainer{
    background-color: #7b2626;
    display: flex;
    
}
/* hall of fame  */
.hallCard{
    background-color: #850909;
    display: flex;
}