h1{
    color: #79ba64;
    display: flex;
    justify-content: center;
}
.container{
    padding: 5%;
}
.grouping{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
}
.period {
    max-height: 1000px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}
.rows{
    height: 70px;
}
.rows1{
    display: flex;
}
.helium1{
    color: #000000;
    background-color: #ffee00;
    padding: 2%;
    margin-left: 3%;
    border: 1px solid black;

}
.he2{
    display: flex;
    justify-content: flex-end;
}