/* default styling  */
*{
    background-color: grey;
}
h1{
    color: #79ba64;
    display: flex;
    justify-content: center;
}
.container{
    padding: 5%;
}
/* grouping styling  */
.grouping{
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
}
/* period styleing  */
.period {
    max-width: 1140px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}
.rows{
    height: 90px;
}
/* here start rows one styling  */
.rows1{
    display: flex;
}
.pline1{
    display: flex;
    width: 1140px;
    justify-content:space-between;
    margin-left: 50px;
}
.box {
    background-color: #e4a47e;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    align-items: center;
    width:60px;
    height: 50px;
    border: solid #000000 3px;

}
.rows{
    display: flex;
}
/* here starts rows two styling */
.pline2left {
    display: flex;
}
.pline2right{
    display: flex;
    height:min-content;
}
.boxy{
    background-color: #d7f030;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    align-items: center;
    width:60px;
    height: 50px;
    margin-left: 3px;
    border: solid #000000 3px;
}
/* here starts rows three styling */
.rows3{
    display: flex;
}
.pline3{
    display: flex;
    justify-content: space-between;
}